* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home section */

body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background: transparent;
    height: 5vh;
    width: 100%;
}

label.heading {
    color: white;
    font-size: 1.5rem;
    padding: 0 5rem;
    line-height: 3rem;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 3rem;
}

nav ul li {
    display: inline;
    line-height: 3rem;
    margin: 0 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
}

a:hover {
    color: #f1c40f;
    transition: .3s;
}

.checkbtn {
    color: white;
    float: right;
    line-height: 3rem;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 952px) {
    #main-home {
        flex-direction: column-reverse;
    }
    #main-home-intro {
        text-align: center;
    }
    label.heading {
        font-size: 1.2rem;
        padding-left: 1.5rem;
    }
    nav ul li a {
        font-size: 0.8rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3f3f3f;
        z-index: 1;
        top: 3rem;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        font-size: 0.8rem;
    }
    a:hover {
        background: none;
        color: #f1c40f;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

#main-home {
    z-index: 2;
    width: 100%;
    padding: 10vh 12vw;
    gap: 10vw;
    display: flex;
    align-items: center;
    color: white;
    line-height: 1.5;
}


#main-home-intro {
    padding: 1rem;
    animation: fadefromleft 1.5s ease-out 1 forwards;
}

@keyframes fadefromleft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadefromright {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#main-home-intro h1 {
    font-size: 2rem;
}

#main-home-intro span {
    line-height: 2rem;
    font-size: 1.2rem;
    color: aqua;
}

#main-home-intro p {
    margin-top: 1rem;
    line-height: 1.2rem;
    font-size: 1rem;
    color: rgb(224, 169, 68);
}

.linkicon {
    background-color: transparent;
    margin: 20px 10px;
    padding: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 162, 162);
    border-radius: 50%;
    border-color: aqua;
    cursor: pointer;
    box-shadow: 0 0 5px aqua;
}

.linkicon:hover {
    background-color: black;
    border-color: transparent;
    color: white;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px aqua;
}

#resume {
    display: inline-flex;
    background-color: aqua;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    border: none;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px cyan;
}

#resume:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px cyan;
}

#main-home-pic {
    padding: 0.3rem 1rem;
    animation: fadefromright 1.5s ease-out 1 forwards;
}

#photo {
    border-radius: 50%;
    box-shadow: 0 0 20px cadetblue;
}

/* Home section end */

/* About section */

#about {
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 7rem;
    margin-right: 2rem;
    margin-left: 2rem;
    line-height: 1.5;
    text-align: center;
}

#about-section p,
#thought-section li {
    margin: 12px;
    color: rgb(224, 169, 68);
    font-size: 21px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}

.about-heading,
.thought-heading {
    font-size: 32px;
    margin: 25px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
}

.about-para {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 1s ease-out;
}

.about-para.visible {
    opacity: 1;
    transform: translateY(0);
}

/* About section end */
/* Skills section */

#skills {
    margin-top: 3rem;
    width: 100%;
    padding: 0 7vw;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    animation: fadefrombelow 2.5s ease-in-out 1 forwards;
    margin-bottom: 50px;
}

@keyframes fadefrombelow {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    70% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#skills h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
    text-align: center;
    border-bottom: 3px solid cyan;
}

#skills h2 {
    font-size: 27px;
    margin: 20px;
    color: rgb(224, 169, 68);
    text-align: center;
}

/* designing the transition effect */

.carousel-container {
    position: relative;
    width: 85vw;
    min-height: 11vh;
    max-height: 32vh;
    overflow: hidden;
    background-color: transparent;
}

.carousel {
    position: relative;
    height: 100%;
}

.card {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 100px;
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.card.active {
    opacity: 1;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out;
    height: 40px;
    width: 40px;
}

.prev-btn:hover,
.next-btn:hover {
    box-shadow: 0 0 20px black;
    background-color: #333;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Skills section end */
/* Works sectin */

#works {
    font-family: popins;
    line-height: 1.5;
    animation: fadefrombelow 2s ease-in-out 1 forwards;
    margin-top: 3rem;
}

#works h1 {
    font-size: 36px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
    text-align: center;
    border-bottom: 3px solid cyan;
}

.workcards h2 {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.center {
    width: 92%;
    height: 80%;
    margin: auto;
}

.slider {
    width: 100%;
    height: fit-content;
    padding: 40px 0;
    overflow: auto;
}

.slider::-webkit-scrollbar {
    width: 80px;
    height: 5px;
}

.slider::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.slider::-webkit-scrollbar-track {
    background: rgba(224, 224, 224, 0.2);
}

.projectcard {
    width: 300px;
    height: 300px;
    padding: 20px;
    text-decoration: none;
    background: lightblue;
    box-shadow: 12px 12px 12px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 20px;
    transition: box-shadow 0.5s ease-in-out;
    cursor: pointer;
}

.projectcard:hover {
    box-shadow: 0 0 20px cyan;
}

.title {
    font-size: 40px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
}

.projectcard span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
}

.workcards {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workcards a p {
    font-size: 2rem;
}

/* Works section end */
/* Contact section */

#contact {
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    animation: fadefrombelow 2s ease-in-out 1 forwards;
    margin-right: 3%;
    margin-left: 3%;
}

#contact-heading {
    font-size: 40px;
    margin-bottom: 30px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
    text-align: center;
    border-bottom: 3px solid cyan;
}

#contact-form {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    background-color: rgba(0, 255, 0, 0.1);
    color: cyan;
    margin-right: 100px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#send-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form button {
    background-color: cyan;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.1s ease-out;
    border-radius: 30px;
    color: #333;
    box-shadow: 0 0 10px cyan;
}

#contact-form button:hover {
    background-color: black;
    color: #fff;
    box-shadow: 0 0 20px#000;
}

#contact-form label {
    font-size: 24px;
    color: rgb(224, 169, 68);
    font-weight: 600;
}

#contact-form input, #contact-form textarea {
    font-size: 18px;
}

#response-message {
    margin-top: 10px;
    font-size: 27px;
    color: #f1c40f;
    text-align: center;
    text-shadow: 0 10px 10px #f1c40f;
    font-weight: 600;
}
/* Contact section end */
/* CSS end */